
.image-container {
  align-items: center;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  width: 200px; /* Adjust width as needed */
  margin: 16px; 
  position: relative;
  /* Adjust margin as needed */
   /* Ensure padding and border are included in the element's total width and height */
}
.itemCard{
  justify-content: left;
  align-items: start;
}

.itemCard img {
  width: 232px;
  height: 232px;

}
#info_card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#info_card p{
  margin: 2px 0;
}
#addToCart{
  position: relative;
  bottom: 1.3rem;
  background-color: white;
  padding: 10px 30px;
  /* color: black; */
  text-align: center;
  border-color: #c9c1c0;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
  


}
#addToCart:hover{
  background-color: #0056b3;
}
